<header>
  <h1>TinyApp</h1>
    <% if (user_id) { %>                          <!-- if user is logged in -->
      <form method="POST" action="/logout">
        <h4><%= user_email %>
          <input type="submit" value="Logout">
        </h4>
      </form>
    <% } else { %>                                <!-- else user is logged out -->
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    <% } %>
</header>