<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <% include ../views/partials/_header %>
    <ul>
      <% for (url in urls) {%>
        <form method="POST" action=<%= `/urls/${url}/delete` %>>
          <li><%= urls[url] %> – <%= url %>
          <button type="submit">Delete 🗑</button>
        </form>
      </li>
      <% } %>
    </ul>
    <a href="/urls/new">Create new shortened URL</a>
  </body>
</html>