<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <header>
      <h1>TinyApp</h1>
    </header>
    Welcome!<br><br>
    <form method="POST" action="/register"/>
      <input name="email" type="email" placeholder="Email" autofocus="autofocus" size=30/></br>
      <input name="password" type="password" placeholder="Password" size=30/>
      <button type="submit">Register</button>
    </form>
  </body>
</html>