<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <% include ../views/partials/_header %>
    <ul>
      <% for (url in urls) {%>
      <li><%= urls[url] %> – <%= url %></li>
      <% } %>
    </ul>
    <a href="">Create new shortened URL</a>
  </body>
</html>