<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <% include ../views/partials/_header %>
    <ul style="list-style: none;">
      <% for (url in urls) {%>
        <li>
          <form method="POST" action=<%= `/urls/${url}/delete` %>>
            <%= urls[url] %> → <%= url %>
            <a href=<%= `/urls/${url}` %>>Edit</a>
            <button type="submit">Delete 🗑</button>
          </form>
        </li>
      <% } %>
    </ul>
    <a href="/urls/new">Create new shortened URL</a>
  </body>
</html>