<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <% include ../views/partials/_header %>
    <h1>ShortURL: <%= shortURL %></h1>
    <form method="POST" action=<%= `/urls/${shortURL}/update` %>>
      <input name="longURL" type="text" size=30 value=<%= urls[shortURL] %>/>
      <button type="submit">Update</input>
    </form>
  </body>
</html>